#container {
    background-color: rgba(197,211,246,255);
    padding: 10px;
    width: 800px;
}

table {
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
}

thead {
    background-color: rgba(109,122,224,255);
    color: white;
}

tbody {
    text-align: center;
}

tr {
    height: 40px;
}

th, td {
    width: 200px;
}

tbody tr {
    background-color: rgba(255,255,255,255);
}

tbody tr:hover {
    background-color: rgba(237,236,254,255);
    cursor: pointer;
}