.container-fluid {
    color: black;
}

form input {
    width: 100%;
}

label {
    font-weight: 500;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

i:hover {
    cursor: pointer;
    opacity: 0.8;
}