body {
    display: flex;
    justify-content: center;
}

.main {
    width: 500px;
    height: 350px;
    background-image: url(image/picture1.png);
    background-size: cover;
    transition: 2s ease-in;
}

.main:hover {
    background-image: url(image/picture2.png);
    background-size: cover;
    transition: 2s ease-in;
}